/* VARIABLES DARK THEME */
body.dark-theme {
  --bg-color: hsl(220, 18%, 13%);
  --bg-color-light: hsl(220, 18%, 23%);
  --title-color: hsl(220, 8%, 95%);
  --text-color: hsl(220, 8%, 65%);
  --body-color: hsl(220, 18%, 18%);
  --container-color: hsl(220, 18%, 21%);
}

/* dark theme style */
.dark-theme .scroll-header {
  box-shadow: 0 2px 8px hsla(220, 18%, 8%, 0.3);
}

.dark-theme .nav__menu {
  background-color: var(--container-color);
}

.dark-theme .nav__menu,
.dark-theme .scrollup {
  box-shadow: 0 4px 8px hsla(220, 18%, 8%, 0.3);
}

.dark-theme::-webkit-scrollbar {
  background-color: hsl(220, 18%, 15%);
}
.dark-theme::-webkit-scrollbar-thumb {
  background-color: hsl(220, 18%, 25%);
}
.dark-theme::-webkit-scrollbar-thumb:hover {
  background-color: hsl(220, 18%, 35%);
}
