@import url(./fonts.css);
@import url(./variables.css);
@import url(./base.css);
@import url(./darkStyle.css);
/* HEADER AND NAV */
.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: transparent;
  z-index: var(--z-fixed);
  transition: 0.4s;
}

.nav {
  height: var(--header-height);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav__logo {
  color: var(--title-color);
  font-weight: var(--font-medium);
  font-family: var(--title-font);
}

/* CHANGE BACKGROUND HEADER*/
.scroll-header {
  background-color: var(--body-color);
  box-shadow: 0 1px 4px hsla(220, 4%, 15%, 0.2);
}

/* ACTIVE LINK */
.active-link {
  color: var(--text-color);
}

/* HOME STYLES */
.home {
  background-color: var(--bg-color);
  overflow: hidden;
  transition: 0.4s;
}

.home__container {
  padding: 4rem 0 1rem;
  row-gap: 8.5rem;
}

.home__title {
  font-size: var(--biggest-font-size);
  font-family: var(--title-font);
  font-weight: 400;
}

.home__description {
  color: var(--title-color);
  margin: 1rem 0 2rem;
}

.home__title,
.home__description {
  line-height: 140%;
}

.home__images {
  position: relative;
  width: 310px;
  justify-self: center;
}

.home__images img:nth-child(1) {
  width: 224px;
  position: absolute;
  left: -1.5rem;
  top: -9.5rem;
}
.home__images img:nth-child(2) {
  width: 180px;
  position: absolute;
  margin-right: 0.5rem;
  position: relative;
}

/* BUTTON LINK */
.button__link {
  color: var(--title-color);
  font-weight: var(--font-medium);
  display: inline-flex;
  align-items: center;
  column-gap: 0.5rem;
}

.button__link svg {
  font-size: 1rem;
  transition: 0.3s;
}

.button__link:hover svg {
  transform: translateX(-0.25rem);
}

/* NEW */

.new__container {
  row-gap: 2.5rem;
  padding-bottom: 1.5rem;
}

.new__card {
  justify-self: center;
}

.new__img {
  width: 270px;
  margin-bottom: 1rem;
}

.new__link {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 0.75rem;
  color: var(--title-color);
}

.new__link svg {
  font-size: 1.25rem;
  transition: 0.3s;
}

.new__title {
  font-size: var(--h2-font-size);
  margin-bottom: 0.5rem;
}

.new__subtitle {
  font-size: var(--smaller-font-size);
  color: var(--text-color);
}

.new__link:hover svg {
  transform: translateX(-0.25rem);
}

/* COLLECTION */

.collection {
  background-color: var(--bg-color-light);
  overflow: hidden;
  transition: 0.4s;
}

.collection__container {
  position: relative;
  height: 571px;
  display: grid;
  justify-items: center;
}

.collection__title {
  font-size: var(--h1-font-size);
  font-family: var(--title-font);
  margin-bottom: 0.75rem;
}

.collection__explore {
  display: grid;
  column-gap: 2rem;
  position: absolute;
}

.collection__explore:nth-child(2) {
  grid-template-columns: 230px max-content;
  bottom: 1rem;
  margin-left: 5rem;
}
.collection__explore:nth-child(1) {
  grid-template-columns: max-content 230px;
  top: 0;
  margin-right: 5rem;
}

.collection__data-men {
  margin-top: 2.5rem;
}

.collection__data-image {
  object-fit: cover;
  height: 300px;
}

.collection__data-women {
  align-self: flex-end;
  margin-bottom: 2.5rem;
}

/* PRODUCTS STYLES */

.products__container {
  padding-bottom: 2rem;
}

.products__title {
  font-size: var(--h3-font-size);
  margin-bottom: 0.75rem;
}

.products__price {
  color: var(--title-color);
  font-weight: var(--font-medium);
}

.swiper-pagination {
  margin-bottom: 5rem;
}
.my-wrapper {
  padding-bottom: 10rem;
}
/* BRAND STYLES */
.brand__container {
  grid-template-columns: repeat(2, max-content);
  justify-content: center;
  column-gap: 1.25rem;
}

.brand__img {
  width: 120px;
}

.brand__img:nth-child(even) {
  margin-top: 2rem;
}

/* FOOTER */
.footer__container {
  row-gap: 3rem;
}

.footer__description {
  font-size: 0.9rem;
  line-height: 1.3rem;
}

.footer__logo {
  color: var(--title-color);
  font-size: var(--h2-font-size);
  font-weight: var(--font-medium);
  font-family: var(--title-font);
  display: inline-block;
  margin-bottom: 0.75rem;
}

.footer__content,
.footer__links {
  display: grid;
  margin-top: 2rem;
}

.footer__content {
  grid-template-columns: repeat(2, max-content);
  gap: 3.5rem 3rem;
}

.footer__title {
  font-size: var(--h3-font-size);
  margin-bottom: 1.25rem;
}

.footer__links {
  row-gap: 0.75rem;
}

.footer__link,
.footer__information {
  font-size: var(--small-font-size);
}

.footer__information {
  line-height: 1.3rem;
  font-size: .6rem;
  font-weight: bold;
}
.footer__link {
  color: var(--text-color);
  transition: 0.3s;
}

.footer__link:hover {
  text-decoration: underline;
  color: var(--text-color);
}
.footer__info {
  margin-top: 6rem;
  padding-bottom: 6rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 0.75rem;
}

.footer__copy,
.footer__privacy {
  font-size: var(--smaller-font-size);
  color: var(--text-color-light);
}

.footer__social {
  display: flex;
  column-gap: 0.2rem;
}
.footer__social-link {
  display: inline-flex;
  color: var(--title-color);
  padding: 0.4rem;
  background-color: var(--container-color);
  font-size: 1.25rem;
  transition: bacground-color 0.3s;
}

.footer__social-link:hover {
  background-color: var(--bg-color-light);
}

/* SCROLL BAR */

::-webkit-scrollbar {
  width: 0.6rem;
  background-color: hsl(220, 8%, 76%);
}

::-webkit-scrollbar-thumb {
  background-color: hsl(220, 8%, 64%);
  border-radius: 0.5rem;
}

::-webkit-scrollbar-thumb:hover {
  background-color: hsl(220, 8%, 54%);
}

/* SCROLL UP */
.scrollup {
  position: fixed;
  width: 30px;
  right: 1rem;
  bottom: -30%;
  background-color: var(--container-color);
  box-shadow: 0 8px 12px hsla(220, 18%, 45%, 0.15);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 0.35rem;
  color: var(--text-color);
  font-size: 1.1rem;
  z-index: var(--z-tooltip);
  transition: 0.3s;
  border-radius: 0.5rem;
}

.scrollup:hover {
  transform: translateY(-0.25rem);
}

.show-scroll {
  bottom: 7.5rem;
}

/* change dark / light */

.change-theme {
  color: var(--title-color);
  font-size: 1.125rem;
  cursor: pointer;
}

.dark-icon,
.light-icon {
  visibility: hidden;
  display: none;
}
.theme-active {
  visibility: visible;
  display: block;
}

@media screen and (min-width: 1124px) {
  :root {
    /* font and typography */
    --body-font: "Dana";
    --biggest-font-size: 4.5rem;
    --h1-font-size: 2.25rem;
    --h2-font-size: 1.5rem;
    --h3-font-size: 1.25rem;
    --normal-font-size: 1rem;
    --small-font-size: 0.875rem;
    --smaller-font-size: 0.813rem;
  }
}

@media screen and (max-width: 1023px) {
  .nav__menu {
    position: fixed;
    bottom: 1.5rem;
    background-color: var(--body-color);
    box-shadow: 0 4px 12px hsla(220, 18%, 40%, 0.15);
    width: 90%;
    left: 0;
    right: 0;
    margin: 0 auto;
    padding: 1.25rem 2.8rem;
    border-radius: 0.5rem;
    transition: 0.4s;
  }

  .nav__list {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .nav__link {
    color: var(--text-color-light);
    font-weight: var(--font-medium);
    display: grid;
    justify-items: center;
    row-gap: 0.25rem;
  }

  .nav__link i {
    font-size: 1.25rem;
  }

  .nav__link span {
    font-size: 0.688rem;
  }
}

/* BREAKPOINTS */
@media screen and (max-width: 340px) {
  .container {
    margin-right: 1rem;
    margin-left: 1rem;
  }

  .footer__content {
    grid-template-columns: max-content;
    row-gap: 2rem;
  }

  .nav__menu {
    padding: 1rem 1.5rem;
  }

  .home__container {
    padding: 2rem 0 1rem;
    row-gap: 6rem;
  }

  .home__description {
    font-size: var(--small-font-size);
  }
  .home__images {
    width: 248px;
  }

  .home__images img:nth-child(1) {
    width: 180px;
    top: -7rem;
  }

  .home__images img:nth-child(2) {
    width: 150px;
  }

  .new__img {
    width: 230px;
  }
  .new__link {
    padding-right: 0;
  }

  .collection__explore:nth-child(1),
  .collection__explore:nth-child(2) {
    position: initial;
    grid-template-columns: 230px;
    row-gap: 2rem;
    margin: 0;
  }

  .collection__container {
    height: initial;
    row-gap: 3rem;
  }

  .collection__data-men {
    margin-top: 0;
  }
  .collection__data-women {
    margin-bottom: 0;
  }

  .products__card {
    width: 230px;
  }

  .brand__container {
    grid-template-columns: repeat(2, 100px);
    row-gap: 0.5rem;
  }
}
@media screen and (min-width: 576px) {
  .nav__menu {
    width: 342px;
  }

  .footer__content {
    grid-template-columns: repeat(3, max-content);
  }
}
@media screen and (min-width: 767px) {
  .home__container,
  .new__container {
    grid-template-columns: repeat(2, max-content);
    justify-content: center;
  }

  .home__images {
    margin-top: 6rem;
  }

  .brand__container {
    grid-template-columns: repeat(4, max-content);
  }
  .footer__contianer {
    grid-template-columns: repeat(2, max-content);
    justify-content: space-between;
    align-items: baseline;
  }
}
@media screen and (min-width: 1023px) {
  .section {
    padding: 7rem 0 1rem;
  }

  .section__title {
    margin-bottom: 4rem;
  }

  .nav {
    height: calc(var(--header-height) + 1.5rem);
  }

  .nav__menu {
    width: initial;
    margin-left: auto;
  }

  .nav__list {
    display: flex;
    grid-gap: 3rem;
  }

  .nav__link {
    color: var(--text-color);
    font-weight: var(--font-medium);
    transition: 0.3s;
  }

  .nav__link svg {
    display: none;
  }

  .nav__link:hover {
    color: var(--title-color);
  }

  .active-link {
    color: var(--title-color);
  }

  .nav__logo {
    margin-left: 3rem;
  }

  .dark-theme .nav__menu {
    background-color: transparent;
    box-shadow: none;
  }

  .products__container {
    width: 945px;
  }

  .footer__container {
    grid-template-columns: repeat(4, max-content);
    column-gap: 5.5rem;
  }

  .footer__link {
    font-size: var(--normal-font-size);
  }

  .footer__info {
    padding-bottom: 2rem;
    row-gap: 1rem;
  }
}
@media screen and (min-width: 1054px) {
  .container {
    margin-left: auto;
    margin-right: auto;
  }
}
@media screen and (min-width: 1124px) {
  .home__container {
    padding: 10rem 0 3rem;
    column-gap: 0;
  }

  .home__images {
    width: 500px;
    margin-top: 8rem;
    transform: translate(-1rem);
  }
  .home__images img:nth-child(1) {
    width: 345px;
    top: -14.5em;
  }
  .home__images img:nth-child(2) {
    width: 277px;
  }

  .new__container {
    grid-template-columns: repeat(3, max-content);
    padding-bottom: 4.5rem;
    gap: 4.5rem;
  }
  .new__img {
    margin-bottom: 1.25rem;
  }

  .new__title {
    font-size: var(--h3-font-size);
  }

  .collection__container {
    height: 760px;
    margin-bottom: 2rem;
  }

  .collection__explore:nth-child(1) {
    grid-template-columns: max-content 330px;
    margin-right: 10rem;
  }

  .collection__data-image {
    height: 490px;
  }

  .collection__explore:nth-child(2) {
    grid-template-columns: 330px max-content;
    margin-left: 10rem;
  }

  .collection__explore {
    gap: 5rem;
  }
  .brand__container {
    column-gap: 5.5rem;
  }

  .brand__img {
    width: 140px;
  }

  .scrollup {
    right: 3rem;
  }
  .show-scroll {
    bottom: 3rem;
  }
}
@media screen and (min-width: 2048px) {
  body {
    zoom: 1.3;
  }
}
@media screen and (min-width: 3840px) {
  body {
    zoom: 2.3;
  }
}
